<div class="container">
  <div class="row justify-content-center" style="height: 180px">
    <div class="col-12 d-flex flex-column align-items-center">

      <p id="big-title">STOCK SEARCH</p>

      <div id="search-bar">
        <input type="text" id="ticker-symbol" placeholder="Enter Stock Ticker Symbol" [(ngModel)]="userInput" name="userInput">
        <button class="upper-buttons" id="search-button" (click)="searchButton()"></button>
        <button class="upper-buttons" id="clear-button" (click)="clearButton()"></button>
      </div>

      <ngb-alert *ngIf="showAlert" [type]="'danger'" (closed)="showAlert = false">
        <strong>Error!</strong> No data found! Please Enter a valid Ticker.
      </ngb-alert>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>


