<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title" style="font-weight: bold">{{ticker}}</h1>
  <button type="button" class="btn-close" aria-label="Close" (click)="this.activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <h1>Current price: {{price}}</h1>
  <h1>Money in wallet: {{balance}}</h1>
  <input type="number" class="form-control" id="numberInput" [(ngModel)]="number" name="number">
  <h3>Total: {{number * price}}</h3>
</div>
<div class="modal-footer">
  <div class="modal-footer-box">
    <button class="btn btn-primary" style="margin-right: 30px" (click) ="operate()">operate</button>
  </div>
</div>
