<main style="flex-grow: 1;">

  <nav class="navbar navbar-dark navbar-expand-xl sticky-top" id="top-navbar">
    <span class="navbar-brand ml-3 h1">Stock Search</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- ms-auto to align elements to the right -->
        <li class="nav-item">
          <button class="nav-link" (click)="searchButton()" [ngClass]="{'selected-link' : activeButton === 1}">Search</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="watchlistButton()" [ngClass]="{'selected-link' : activeButton === 2}">Watchlist</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="portfolioButton()" [ngClass]="{'selected-link' : activeButton === 3}">Portfolio</button>
        </li>
      </ul>
    </div>
  </nav>

  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <nav class="navbar fixed-bottom navbar-light sti" id="bottom-navbar" >
    <span class="navbar-text container-fluid justify-content-sm-center">
      <div style="color: black">
        Powered by <a href="https://finnhub.io/" target="_blank" rel="noopener noreferrer" style="color: blue">finnhub.io</a>
      </div>
    </span>
  </nav>

</main>
