<div class="container">
  <div class="row justify-content-center" style="height: 180px">
    <div class="col-12 d-flex flex-column align-items-center">

      <div *ngIf="portfolio; else loading" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
        <div style="font-size: 48px; font-weight: bold; position: relative; top: 20px">My Portfolio</div>
        <div style="font-size: 24px; font-weight: bold;position: relative; top: 40px">Money in Wallet: {{portfolio.balance}}</div>

        <ngb-alert *ngIf="portfolio.stocks_info.length === 0" [type]="'warning'" [dismissible]="false" style="position: relative; top: 50px">
          Currently you don't have any stock in your portfolio.
        </ngb-alert>

        <div *ngFor="let item of portfolio.stocks_info;" class="block" style="width: 100%;">
          <div class="card text-center" style="width: 100%;">

            <div class="card-header" style="display: flex; justify-content: center; align-items: center">
              <div style="font-size: 32px; font-weight: bold">{{ item.ticker }}</div>
              <div style="font-size: 24px; ">{{item.company_name}}</div>
            </div>

            <div class="card-body">
              <table style="margin: 10px; font-size: 18px;">
                <tr><th>Quantity</th><td>{{ item.quantity }}</td></tr>
                <tr><th>Avg. Cost / Share:</th><td>{{ item.cost_per_share }}</td></tr>
                <tr><th>Total Cost:</th><td>{{ item.cost }}</td></tr>
                <tr><th>Change:</th><td>{{ item.change }}</td></tr>
                <tr><th>Current Price:</th><td>{{ item.current_price }}</td></tr>
                <tr><th>Market Value:</th><td>{{ item.market_value }}</td></tr>
              </table>

            </div>

            <div class="card-footer text-muted">
              <button class="btn btn-primary" style="margin-right: 30px" (click)="operation_buy(item.ticker, item.current_price)" >Buy</button>
              <button class="btn btn-primary" style="margin-left: 30px; background-color: red" (click)="operation_buy(item.ticker, item.current_price)">Sell</button>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <ng-template #loading>
    <div class="row justify-content-center" style="height: 500px">
      <div class="col-12 d-flex flex-column align-items-center">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </ng-template>
</div>
